<%= form_for(@node) do |f| %>
  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% @node.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :deactivated %><br />
    <%= f.text_field :deactivated %>
  </div>
  <div class="field">
    <%= f.label :catalog_timestamp %><br />
    <%= f.text_field :catalog_timestamp %>
  </div>
  <div class="field">
    <%= f.label :facts_timestamp %><br />
    <%= f.text_field :facts_timestamp %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
