<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @node.name %>
</p>

<p>
  <b>Deactivated:</b>
  <%= @node.deactivated %>
</p>

<p>
  <b>Catalog timestamp:</b>
  <%= @node.catalog_timestamp %>
</p>

<p>
  <b>Facts timestamp:</b>
  <%= @node.facts_timestamp %>
</p>
<p>
  <b>ArtifactID:</b>
  <%= @node_artifact_id %>
</p>
<p>
  <b> Facts:</b>
</p>
<table>
  <tr>
    <th>Fact Name</th>
    <th>Fact Value</th>
  </tr>

<% @node_facts.each do |k,v| %>
  <tr>
    <td><%= k %></td>
    <td><%= v %></td>
  </tr>
<% end %>
</table>

<p>
  <b>Wiki:</b>
  <p>
  <%= @wiki.raw_data %>
  </p>
</p>


<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
