<p id="notice"><%= notice %></p>

<h1>
  <b>Node:</b>
  <%= @node.name %>
</h1>

<p>
  <b>Deactivated:</b>
  <%= @node.deactivated %>
</p>

<p>
  <b>Catalog timestamp:</b>
  <%= @node.catalog_timestamp %>
</p>

<p>
  <b>Facts timestamp:</b>
  <%= @node.facts_timestamp %>
</p>
<p>
  <b>ArtifactID:</b>
  <%= @node_artifact_id %>
</p>
<h1>
  <b> Facts:</b>
</h1>
<table>
  <tr>
    <th>Fact Name</th>
    <th>Fact Value</th>
  </tr>

<% @node_facts.each do |k,v| %>
  <tr>
    <td><%= k %></td>
    <td><%= v %></td>
  </tr>
<% end %>
</table>

<h1>Wiki</h1>
<h3>Author</h3>
  <p>
    <% @wiki.commit[:commit].each do |k,v| %>

    <%= k %>:<%= v %> <br>

    <% end %>
  </p>
<h3>Content</h3>
  <p>
    <%= @wiki.content %>
  </p>
</p>


<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
