<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <div class="container">
    <div class="page-header">
      <h1><%= @node.name %> <br> <small><%= @node_artifact_id %></small></h1>
    </div>

    <% unless  @node.deactivated.nil? %>
        <p>
          <span class="label label-danger">Node deactivated</span>
        </p>
    <% else %>
        <p>
          <span class="label label-success">Node active</span>
        </p>
        <i>Catalog timestamp:</i>
        <%= @node.catalog_timestamp %><br>
        <i>Facts timestamp:</i>
        <%= @node.facts_timestamp %>
    <%end %>
  </div>
</div>


<div class="tabbable">
  <ul class="nav nav-tabs" id="proftabs">
    <li class="active"><a  href="#status_tab"  data-toggle="tab" >Status</a></li>
    <li><a  href="#puppet_tab"  data-toggle="tab" >Puppet</a></li>
    <li><a  href="#resources_tab"  data-toggle="tab" >Resources</a></li>
    <li><a  href="#facts_tab" data-toggle="tab">Facts</a></li>
    <li><a  href="#wiki_tab" data-toggle="tab">Wiki</a></li>
  </ul>
</div>

<div class="tab-content">
  <div id="status_tab"  class="tab-pane active">
    <p></p>
    Node Status
  </div>

  <div id="puppet_tab"  class="tab-pane">
    <p></p>
    Last Puppet Run: <%= @node_facts['last_run']%>
  </div>

  <div id="resources_tab"  class="tab-pane">

    <table class="table table-condensed" >
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>

      <% @node_facts.each do |k,v| %>
          <tr>
            <td><%= k %></td>
            <td><%= v %></td>
          </tr>
      <% end %>
    </table>

  </div>

  <div id="facts_tab" class="tab-pane">
    <table class="table table-condensed" >
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>

      <% @node_facts.each do |k,v| %>
          <tr>
            <td><%= k %></td>
            <td><%= v %></td>
          </tr>
      <% end %>
    </table>
  </div>

  <div id="wiki_tab"  class="tab-pane">
    <p></p>
    <%= button_to('Edit', edit_page_path(@page.name), :class => 'btn btn-large btn-primary', method: :get)  %> <small><%= "Last edited by #{@page.gollum_page.version.author.name.gsub(/<>/, '')} #{time_ago_in_words(@page.gollum_page.version.authored_date)} ago." %></small>

    <p>
      <%= @page.preview %>
    </p>
  </div>
</div>

<br>

<ul class="pager">
  <li class="previous"><%=  link_to('Back', nodes_path ) %></li>
</ul>
