<h1>Listing facts</h1>

<table>
  <tr>
    <th>Certname</th>
    <th>FactName</th>
    <th>FactValue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @facts.each do |fact| %>
  <tr>
    <td><%= fact.certname %></td>
    <td><%= fact.name %></td>
    <td><%= fact.value %></td>
    <td><%= link_to 'Show', fact %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fact', new_fact_path %>
